body {
    background-color: lightgray;
    color: #444444;
    font-weight: 100;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
    display: block
}

ul {
    list-style-type: none;
}

ul li:hover {
    font-weight: 300;
}

button {
    margin: .5em;
}

#dialog {
    background-color: white;
    border: 1px solid darkgrey;
    width: 50%;
    position: absolute;
    margin: auto;
    padding: 1em;
    top: 10%;
    left: 25%;
}

.panel {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    padding: 20px;
}

.right {
    border-left: 1px solid grey;
}