body {
    background-color: lightgray;
    color: #444444;
    font-weight: 200;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block
}

table tr:hover {
    font-weight: 300;
}

button {
    margin: .5em;
    background-color: #6f7c8b;
    color: white;
    font-weight: 100;
    padding: 10px;
    font-size: .7em;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    border: 2px solid white;
}

h1 {
    font-size: 2em;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 0;
}

#dialog {
    background-color: white;
    border: 1px solid darkgrey;
    width: 50%;
    position: absolute;
    margin: auto;
    padding: 1em;
    top: 10%;
    left: 25%;
}

.panel {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    padding: 20px;
    width: 40%;
}

.right {
    border-left: 1px solid grey;
}

#mainDisplayTable{
    font-size: .75em;
    border-collapse: collapse;
}

#mainDisplayTable tr,
#mainDisplayTable tr td,
#mainDisplayTable tr th{
    padding: 10px;
    text-align: center;
    border: 1px solid #EDEDED;
    border-collapse: collapse;
}

#logoMain {
    background-image: url("../images/boxer.svg");
    height: 100px;
    width: 100px;
    float: left;
    border: none !important;
    stroke: grey;
}

svg {
    fill: grey;
    stroke: grey !important;
}

#mainDisplayTable tr.actionableRow:hover {
    border: 3px solid #FFF;
    cursor: pointer;
}

#credentialsContainer {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#logoSection {
    display: block;
    width: 200px;
    margin: 5em auto 0 auto;
}

#logoLogin {
    background-image: url("../images/boxer.svg");
    height: 150px;
    width: 150px;
    border: none !important;
    stroke: grey;
}

#loginButton {
    margin: 5px 20%;
}